# {{ ansible_managed }}
# For a complete list of options, see https://github.com/ma1uta/ma1sd/docs/README.md
#
# Please follow the Getting Started guide if this is your first time using/configuring ma1sd
#
#  -- https://github.com/ma1uta/ma1sd/blob/master/docs/getting-started.md#getting-started
#
# For a complete list of options, see https://github.com/ma1uta/ma1sd/

#######################
# Matrix config items #
#######################
# Matrix domain, same as the domain configure in your Homeserver configuration.
# NOTE: in Synapse Homeserver, the Matrix domain is defined as 'server_name' in configuration file.
#
# This is used to build the various identifiers in all the features.
#
# If the hostname of the public URL used to reach your Matrix services is different from your Matrix domain,
# per example matrix.domain.tld vs domain.tld, then use the server.name configuration option.
# See the "Configure" section of the Getting Started guide for more info.
#
# This is used to build the various identifiers for identity, auth and directory.
matrix:
  domain: {{ domain }}
  v1: true   # deprecated
  v2: true   # MSC2140 API v2. Riot require enabled V2 API.

server:
   name: {{ hostname }}

dns:
  overwrite:
    homeserver:
      client:
      - name: {{ hostname }}
        value: http://[::1]:8008

#directory.exclude.homeserver: true

################
# Signing keys #
################
# Absolute path for the Identity Server signing keys database.
# /!\ THIS MUST **NOT** BE YOUR HOMESERVER KEYS FILE /!\
# If this path does not exist, it will be auto-generated.
#
# During testing, /var/tmp/ma1sd/keys is a possible value
# For production, recommended location shall be one of the following:
#   - /var/lib/ma1sd/keys
#   - /var/opt/ma1sd/keys
#   - /var/local/ma1sd/keys
# Absolute path for the Identity Server signing key.
# During testing, /var/tmp/ma1sd.key is a possible value
#
key:
  path: /var/lib/ma1sd/signing.key

############################
# Persistence config items #
############################

# Configure the storage backend, usually a DB
# Possible built-in values:
#   sqlite                      SQLite backend, default
#
#storage.backend: 'sqlite'

# Path to the SQLite DB file
storage:
  provider:
    sqlite:
      database: /var/lib/ma1sd/store.db
{% if ma1sd_ldap_enable %}

################
# LDAP Backend #
################
# If you would like to integrate with your AD/Samba/LDAP server,
# see https://github.com/ma1uta/ma1sd/blob/master/docs/stores/ldap.md

ldap:
  enabled: true
  connection:
    host: {{ ma1sd_ldap_server }}
    bindDn: {{ ma1sd_bind_dn }}
    bindPassword: {{ ma1sd_bind_pass }}
    baseDn: {{ ma1sd_base_dn }}
    tls: {{ ma1sd_ldap_tls }}
    port: {{ ma1sd_ldap_port }}
  filter: {{ ma1sd_ldap_filter }}
  attribute:
    uid:
      type: uid
      value: sAMAccountName
    name: displayName
    threepid:
      email:
        - mail
      msisdn:
        - telephoneNumber
        - mobile
{% endif %}
{% if ma1sd_sql_enable %}

###############
# SQL Backend #
###############
# If you would like to integrate with a MySQL/MariaDB/PostgreQL/SQLite DB,
# see https://github.com/ma1uta/ma1sd/blob/master/docs/stores/sql.md
synapseSql:
    connection: {{ ma1sd_sql_connection_string }}
    enabled: true
    type: {{ ma1sd_sql_type }}
{% endif %}

################
# REST Backend #
################
# If you would like to integrate with an existing web service/webapp,
# see https://github.com/ma1uta/ma1sd/blob/master/docs/stores/rest.md

#################################################
# Notifications for invites/addition to profile #
#################################################
# This is mandatory to deal with anything e-mail related.
#
# For an introduction to sessions, invites and 3PIDs in general,
# see https://github.com/ma1uta/ma1sd/blob/master/docs/threepids/session/session.md#3pid-sessions
#
# If you would like to change the content of the notifications,
# see https://github.com/ma1uta/ma1sd/blob/master/docs/threepids/notification/template-generator.md
#
#### E-mail invite sender

{% if mail %}
threepid:
  medium:
    email:
      identity:
        from: {{ mail_from }}
        name: {{ mail_name }}
      connectors:
        smtp:
          host: {{ mail_host }}
          port: {{ mail_port }}
          # 0 = no STARTLS, 1 = try, 2 = force
          tls: {{ mail_tls }}
          login: {{ mail_user }}
          password: {{ mail_pass }}
{% endif %}